APP_HOST=127.0.0.1
APP_PORT=25683
APP_SECRET_KEY=olamamahaha0520@#$
JWT_SECRET_KEY=olamamahaha0520@#$

OLLAMA_HOST=10.60.102.53
OLLAMA_PORT=25683

POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=12345678
POSTGRES_USER_TABLE=userinfo
POSTGRES_SERVICE_NAME=
POSTGRES_BIN_DIR=
POSTGRES_DATA_DIR=

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_DB=2

MAIL_SERVER=smtp.163.com
MAIL_PORT=465
MAIL_USE_SSL=true
MAIL_USERNAME=zimufengyan@163.com
MAIL_PASSWORD=PWtKDUVYZFxnpJvf

SOVITS_ADDR=http://127.0.0.1:9880
